<% provide :hero_title, "Help with using Robocraft" %>

<div class="row body">
	<%= render 'help_topics/sidebar' %>

	<div class="large-9 columns">
		<p class="lead">With Robocraft, it's easy to share your robot designs with the community.</p>
		<p>Here you'll find some handy guides to help get the most out of the site.</p>
		<hr>
		<p>If you're having an issue with the site, you can contact us at <a href="mailto:TODO@example.com">TODO@example.com</a></p>
	</div>
</div>