<div class="large-3 columns">
	<nav>
		<div class="sidebar">
			<ul class="side-nav">
				<li class="heading">Latest topics</li>
				<% @help_topics.each do |help_topic| %>
					<li><%= link_to help_topic.title, help_topic %></li>
				<% end %>
				<%= link_to_if(admin?(current_user), "New topic", new_help_topic_path, class: "button small") {} %>
			</ul>
		</div>
	</nav>
</div>