<div class="panel callout">
	<%= form_for [@competition, @competition.entries.build] do |f| %>
			Enter with one your robots: 
			<%= f.collection_select :robot_id, @enterable_robots, :id, :name %>
			<%= button_tag "Enter competition", class: "button small no-bottom-margin" %>
	<% end %>
</div>