<div class="row">
	<div class="large-12 columns body">
		<dl class="sub-nav">
			<dt>Show by:</dt>
			<dd class="<%= "active" if active == "Newest" %>"><%= link_to "Newest", competition_entries_path(@competition) %></dd>
			<dd class="<%= "active" if active == "Popular" %>"><%= link_to "Popular", popular_competition_entries_path %></dd>
		</dl>
	</div>
</div>