<% provide :hero_title, "Popular entries" %>
<% provide :hero_subtitle, "For \"#{@competition.name}\"" %>

<%= render 'show_by', active: "Popular" %>

<%= render @entries %>
<div class="row body">
	<div class="large-2 columns large-centered">
		<%= link_to "Back", @competition, class: "button secondary extend" %>
	</div>
</div>