<% provide :hero_title, "Newest competitions" %>

<%= render 'show_by', active: "Newest" %>

<%= render @competitions %>

<div class="pagination-outer">
	<div class="row">
		<%= will_paginate renderer: FoundationPagination::Rails %>
	</div>
</div>