<div class="panel">
	<div class="row">
		<div class="large-4 columns">
			<%= link_to image_tag(robot.screenshot_url + "192x108.resizedImage", alt: robot.name), robot %>
		</div>
		<div class="large-8 columns">
			<h2>
				<span class="label tier"><%= link_to "T" + robot.tier.name, robot.tier %></span>
				<%= link_to robot.name, robot %>
			</h2>
			<p><%= truncate(robot.description, length: 100) %></p>
		</div>
	</div>
</div>