<% provide :hero_title, "Newest robots" %>

<%= render 'show_by', active: "Newest" %>

<%= render @robots %>
<div class="pagination-outer">
	<div class="row">
		<%= will_paginate renderer: FoundationPagination::Rails %>
	</div>
</div>