<div class="footer">
	<ul>
		<li><%= link_to "Help", help_path %></li>
		<li><%= link_to "Contact", "#" %></li>
		<li><%= link_to "Contribute", "http://github.com/einkelflugle/robocraft-rails" %></li>
	</ul>
</div>