<div class="panel">
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.name, user %>
	<% if admin?(current_user) && !current_user?(user) %>
		<%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" }, class: "button alert tiny right" %>
	<% end %>
</div>