<div class="row body">
	<div class="large-12 columns">
		<h1>Listing all users</h1>
		<%= will_paginate renderer: FoundationPagination::Rails %>
		<%= render @users %>
		<%= will_paginate renderer: FoundationPagination::Rails %>
	</div>
</div>