<div class="hero">
	<div class="hero-inner">
		<h1 class="xl">Welcome to Robocraft</h1>
		<h4>The best place to share your favorite Robocraft creations</h4>
		<br>
		<%= link_to "Sign up", signup_path, class: "button" %>
	</div>
</div>

<div class="banner">
	<ol class="features row">
		<li class="medium-4 columns"><span>1.</span><p>Take a screenshot of your awesome creation</p></li>
		<li class="medium-4 columns"><span>2.</span><p>Post your robot for others to see</p></li>
		<li class="medium-4 columns"><span>3.</span><p>Check out other people's robots</p></li>
	</ol>
</div>

<div class="row body">
	<div class="medium-4 columns">
		<%= image_tag "share.png", alt: "Share" %>
	</div>
	<div class="medium-8 columns body">
		<h4>Share your robots</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ullam vitae et placeat vel optio, sapiente pariatur a quia iure repudiandae.</p>
	</div>
</div>
<div class="row body">
	<div class="medium-4 medium-push-7 columns">
		<%= image_tag "competitions.png", alt: "Competitions" %>
	</div>
	<div class="medium-6 medium-pull-4 medium-offset-1 columns end body">
		<h4>Enter competitions</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia fuga laboriosam nostrum non eius. Lorem ipsum dolor sit amet.</p>
	</div>
</div>
<div class="row body">
	<div class="medium-4 columns">
		<%= image_tag "favoriting.png", alt: "Favoriting" %>
	</div>
	<div class="medium-8 columns body">
		<h4>Favorite other people's designs</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus, delectus aut deleniti aspernatur quisquam cum doloremque tempora.</p>
	</div>
</div>