// Adjustments for labels
.label {
	font-size: $h6-font-size;
	color: black;
	@include single-transition(0.2s, background-color, ease-out);
	&:hover {
		color: black;
		background-color: darken($primary-color, 10%);
	}
}

// Adjustments for 'Robot Tier' label styling
.label.tier {
	padding: 0.25rem 0.5rem;
	font-size: inherit;
	a {
		color: black;
	}
}

// Give an area a dark background color
.dark {
	background-color: #282725;
}

// Makes the navbar dropdowns a bit more visible
.top-bar-section li .dropdown {
	border: 1px solid black;
	border-top: none;
}

// Gives a content wrapper a bit of extra top padding
.body {
	padding-top: 1.25rem;
}

// Top bar branding section
.top-bar .name h1 a {
	color: $primary-color;
}

// Give images a bit of bottom margin
img {
	margin-bottom: 20px;
}