// Hero image for welcome page
.hero {
	background-image: image-url("background.jpg");
	background-size: cover;
	background-position: top center;
	.hero-inner {
		padding: 100px 20px;
		color: white;
		text-align: center;
		&.small {
			padding: 70px 20px;
		}
	}
}

// Banner text on welcome page
.banner {
	background-color: $primary-color;
	color: black;
	padding: 10px 0;
	h1 {
		margin: 0;
	}
}

// Large ordered list of features
.features {
	list-style-type: none;
	text-align: center;
	span {
		font-size: 1.5rem;
		color: black;
		@media only screen and (min-width: 40.063em) {
			font-size: 80px;
		}
	}
	p {
		text-align: center;
		color: black;
	}
}

// Adjusts panels to match colour scheme
.panel.callout {
	background-color: #AA5500;
	border: none;
}

// A list of items with alternating background colours
.item {
	color: white;
	background-color: #333333;
	padding: 20px 0;
	&:nth-child(even) {
		background-color: #282725;
	}
}

// Pagination for lists of things
.pagination {
	margin-top: 1rem;
}
.pagination-outer {
	background-color: #333;
}

// Footer styling
.footer {
	background-color: #333;
	color: white;
	padding: 10px;
	ul {
		padding: 40px 0;
		margin: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline;
			padding: 0 20px;
			a {
				color: white;
			}
		}
	}
}