// Extra-large page headings
h1.xl {
	font-size: rem-calc(34);
	@media only screen and (min-width: 40.063em) {
		font-size: rem-calc(60);
	}
}

h1, h2, h3, h4, h5, h6, a, p, span {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p, span {
	color: darken(#fff, 30%);
}

.lead {
	color: #fff;
}