// Form error explanation
#error_explanation {
	color: red;
}

// Adds bottom border to navbar (helps with visibility)
.contain-to-grid {
	border-bottom: 1px solid black;
}

// Makes alert boxes a bit more readable
.alert-box.error {
	color: black;
}

// Helps with custom pseudo element styles
.button {
	position: relative;
	margin-right: 1em;
	&.no-bottom-margin {
		margin-bottom: 0;
	}
	&.tiny {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

// Customize Foundation to suit Rails' flash notices
.alert-box.notice {
	@extend .info;
}

// Multi-select input fix for Foundation
select[multiple] {
	height: auto;
}

// Gives select elements a bit of extra breathing room to the right
select {
	width: auto;
	padding-right: 1.5rem;
}
select.full-width {
	width: 100%;
}

// Give buttons Robocraft-style top right corner
.button:not(.secondary):not(.tiny):not(.small):not(.large) {
	&:after {
		content: '';
		position: absolute;
		border-left: 1em solid #fd8311;
		border-top: 1em solid transparent;
		right: -1em;
		top: 0;
		bottom: 0;
		@include single-transition(300ms, border-color, ease-out);
	}
	&:hover:after,
	&:focus:after {
		border-left-color: scale-color($button-bg-color, $lightness: $button-function-factor);
	}
}

// A star for robot favoriting
$star-color: gray;
.star {
	margin: 30px 0;
	position: relative;
	display: block;
	color: $star-color;
	width: 0px;
	height: 0px;
	border-right:  25px solid transparent;
	border-bottom: 17.5px  solid $star-color;
	border-left:   25px solid transparent;
	@include rotate(35deg);
	&:hover {
		border-bottom: 17.5px solid $star-color;
	}
}
.star:before {
	border-bottom: 20px solid $star-color;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -11.25px;
	left: -16.25px;
	display: block;
	content: '';
	@include rotate(-35deg);
}
.star:after {
	position: absolute;
	display: block;
	color: $star-color;
	left: -26.25px;
	width: 0px;
	height: 0px;
	border-right: 25px solid transparent;
	border-bottom: 17.5px solid $star-color;
	border-left: 25px solid transparent;
	@include rotate(-70deg);
	content: '';
}
.star.voted {
	color: $primary-color;
	border-bottom: 17.5px solid $primary-color;
	&:before {
		border-bottom: 20px solid $primary-color;
	}
	&:after {
		color: $primary-color;
		border-bottom: 17.5px solid $primary-color;
	}
}