// Form error explanation
#error_explanation {
	color: red;
}

// Adds bottom border to navbar (helps with visibility)
.contain-to-grid {
	border-bottom: 1px solid black;
}

// Change alert button to deeper red
.button.alert {
	background-color: $alert-color-dark;
}

// Helps with custom pseudo element styles
.button {
	position: relative;
	margin-right: 1em;
	&.no-bottom-margin {
		margin-bottom: 0;
	}
	&.tiny {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

// Customize Foundation to suit Rails' flash notices
.alert-box.notice {
	@extend .info;
}

// Multi-select input fix for Foundation
select[multiple] {
	height: auto;
}

// Gives select elements a bit of extra breathing room to the right
select {
	width: auto;
	padding-right: 1.5rem;
}
select.full-width {
	width: 100%;
}

// Give buttons Robocraft-style top right corner
.button:not(.secondary):not(.tiny):not(.small):not(.large) {
	&:after {
		content: '';
		position: absolute;
		border-left: 1em solid #fd8311;
		border-top: 1em solid transparent;
		right: -1em;
		top: 0;
		bottom: 0;
		@include single-transition(300ms, border-color, ease-out);
	}
	&:hover:after,
	&:focus:after {
		border-left-color: scale-color($button-bg-color, $lightness: $button-function-factor);
	}
}