@import "foundation_and_overrides";
@import url("//fonts.googleapis.com/css?family=Electrolize");

// Adjustments for 'Robot Tier' label styling
.label.tier {
	padding: 0.25rem 0.5rem;
	font-size: inherit;
	a {
		color: black;
	}
}

// Gives the main page wrapper a bit of extra top padding
.row.body {
	padding-top: 1.25rem;
}

// Top bar branding section
.top-bar .name h1 a {
	color: $primary-color;
}

// Form error explanation
#error_explanation {
	color: red;
}

// Change alert button to deeper red
.button.alert {
	background-color: $alert-color-dark;
}

// Helps with custom pseudo element styles
.button {
	position: relative;
}

// Give buttons Robocraft-style top right corner
// .button:not(.secondary):after {
// 	content: '';
// 	position: absolute;
// 	border-left: 1em solid #fd8311;
// 	border-top: 1em solid transparent;
// 	right: -1em;
// 	top: 0;
// 	bottom: 0;
// }

// Customize Foundation to suit Rails' flash notices
.alert-box.notice {
	@extend .info;
}

// Multi-select input fix for Foundation
select[multiple] {
	height: auto;
}

// Give images a bit of bottom margin
img {
	margin-bottom: 20px;
}

// Hero image for welcome page
.hero {
	height: 400px;
	background-image: url(hero.jpg);
	background-size: cover;
	background-position: top center;
}

// Banner text on welcome page
.banner {
	background-color: $primary-color;
	padding: 10px 0;
	h1 {
		margin: 0;
	}
}

// Footer styling
.footer {
	background-color: black;
	color: white;
	padding: 10px;
}