<% provide :hero_title, "Robots in the #{@category.name} category" %>
<% provide :hero_subtitle, "Total of #{pluralize(@category.robots.count, 'robot')}" %>

<div class="row body">
	<div class="large-12 columns">
		<p class="lead">
			<span>Definition: </span>
			<%= @category.description %>
			<%= link_to_if(admin?(current_user), "Edit category", edit_category_path(@category)) {} %>
		</p>
	</div>
</div>

<%= render @robots %>